[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = ">=2.1.2"
djangorestframework = "==3.11.2"
django-filter = "*"
mysqlclient = "*"
django-mysql = "*"
django-rest-swagger = "*"
django-imagekit="*"
coreapi="*"
pyyaml="*"
six="*"
Pillow="*"

[dev-packages]
pytest = "*"
