[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
djangorestframework-jwt = "*"
mysqlclient = "*"
django-mysql = "*"
django-rest-swagger = "*"
django-imagekit="*"
six="*"
Pillow="*"


[dev-packages]
pytest = "*"
